<h1>Demonstration of div element (Content Division Element i.e Elements is used to Divide content) </h1>

<!-- Div tag : Block element -->
<div>
    <a href="http://www.google.com">Google</a>
    <a href="http://www.facebook.com">Facebook</a>
</div>

<a href="http://www.instagram.com">Instagram</a>



<h1>Demonstration of span element</h1>
<!-- Span tag : Inline element -->
<span>
    <a href="http://www.google.com">Google</a>
    <a href="http://www.facebook.com">Facebook</a>
</span>

<a href="http://www.instagram.com">Instagram</a>